body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #4d0505;
    text-align: center;
}

.container {
    background: rgb(247, 173, 173);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resume {
    margin-top: 20px;
}

button {
    margin-top: 10px;
    border-color: rgb(14, 202, 29);
    color: black;
}
